<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456988502790-vcisvhesn6sgqid7fgj7nkkh1juq80od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456988502790-vcisvhesn6sgqid7fgj7nkkh1juq80od</string>
	<key>API_KEY</key>
	<string>AIzaSyDoQNGCtOSg8qPMwadSbUvBL5dOhiHeFgY</string>
	<key>GCM_SENDER_ID</key>
	<string>456988502790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobuapp</string>
	<key>PROJECT_ID</key>
	<string>jobuapp-96b99</string>
	<key>STORAGE_BUCKET</key>
	<string>jobuapp-96b99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456988502790:ios:4cad5b76cef4c36a91cc87</string>
</dict>
</plist>